* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 92vh;
  width: 100vw;
}

nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: flex-end;
  height: 2em;
  width: 100vw;
  background-color:green;
}

.nav-item a{

  font-size: 1.5em;
  margin-right: 25px;
}

#list{
  position: fixed;
  top: 2em;
  right: 0px;
  background-color: brown;
}

.dropdown{
  display: flex;
  flex-direction: row;
}
